version: '3.8'

services:
  fastapi-app:
    build:
      context: ./serving
      dockerfile: Dockerfile
    container_name: fastapi-app
    ports:
      - "9001:9001"
    environment:
      - MLFLOW_TRACKING_URI=http://10.17.0.185:5050 
      - MLFLOW_MODEL_NAME=linear_regression
      - MODEL_ALIAS=production
    networks:
      - monitoring_net

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring_net
    depends_on:
      - fastapi-app

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - monitoring_net
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
  mlflow:
    build:
      context: ./mlflow
      dockerfile: Dockerfile
    container_name: mlflow
    ports:
      - "5050:5050"
    volumes:
      - ./mlruns:/mlflow/mlruns
      - ./mlflow.db:/mlflow/mlflow.db
    networks:
      - mlops-net

networks:
  monitoring_net:
    driver: bridge
