version: '3.8'

services:
  fastapi-app:
    build: 
      context: .
      dockerfile: Dockerfile.serving
    container_name: fastapi-app
    ports:
      - "9001:9001"
    environment:
      - MLFLOW_TRACKING_URI=http://10.17.0.185:5050
      - MLFLOW_MODEL_NAME=linear_regression
      - MODEL_ALIAS=production

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - fastapi-app

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus