services:
  mlflow:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mlflow
    ports:
      - "5050:5050"
    volumes:
      - ./mlruns:/mlflow/mlruns
      - ./mlflow.db:/mlflow/mlflow.db
    networks:
      - mlops-net
networks:
  mlops-net:
    driver: bridge
