name: Test VPN Connection
run-name: "${{ github.workflow }}"

on:
  workflow_dispatch:

jobs:
  test-vpn:
    runs-on: ubuntu-latest

    steps:
      - name: Install OpenVPN
        run: |
          sudo apt update
          sudo apt install -y openvpn openvpn-systemd-resolved

      # If OVPN_CONFIG_FILE is base64 of your .ovpn, decode it
      - name: Create OVPN file
        run: echo "${{ secrets.OVPN_CONFIG_FILE }}" > DEI.ovpn

      - name: Create auth file
        run: |
          echo "${{ secrets.OVPN_USERNAME }}" > vpn-auth.txt
          echo "${{ secrets.OVPN_PASSWORD }}" >> vpn-auth.txt

      - name: Connect to VPN
        uses: "kota65535/github-openvpn-connect-action@v2"
        with:
          config_file: DEI.ovpn
          username: ${{ secrets.OVPN_USERNAME }}
          password: ${{ secrets.OVPN_PASSWORD }}

      - name: Ping test
        run: |
          set -x
          ping -c 4 ${{ secrets.SERVING_VM_HOST }} || echo "ping failed with code $?"
